* text=auto eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary

**/gradlew linguist-vendored=true
**/gradlew.bat linguist-vendored=true
**/gradle/wrapper/** linguist-vendored=true
